<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="1 minutes" packagingData="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level [%class{0}.%M:%L] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="it.megadix" level="${log.applicationRootLevel}" />

    <root level="${log.rootLevel}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
